.card {
  margin: 20px;
  width: 300px;
  height: 200px;
  background-position: center;
}

.card-category h3 {
  color: white;
}

.cocktail-card a:hover {
  text-decoration: none
}

.card-category h3:hover {
  text-decoration: none;
}
